<ion-header>
  <ion-toolbar color="medium">
    <ion-back-button slot="start">back</ion-back-button>
    <ion-title class="ion-text-center">Treatment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Keratin treatment</ion-card-title>
      </ion-card-header>
      <video
      width="100%"
      controls="controls"
      preload="metadata"
      webkit-playsinline="webkit-playsinline"
      class="videoPlayer">
        <source src="assets/Keratin.mp4" type="video/mp4">
      </video>
      <ion-card-content >
        <p>A keratin treatment is a process that smooths and often straightens hair. You might also hear it called a Brazilian keratin treatment or a Brazilian blowout. It involves applying products to the hair, blow-drying it, and sealing it with a flat iron. Keratin is a natural type of protein in your skin, hair, and nails.<br><br>
      
      Price : RM 150<br>
      Duration : 30 minutes - 1 hour <p>
      </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title> Hair Relaxing treatment</ion-card-title>
      </ion-card-header>
      <video
      width="100%"
      controls="controls"
      preload="metadata"
      webkit-playsinline="webkit-playsinline"
      class="videoPlayer">
        <source src="assets/relaxing.mp4" type="video/mp4">
      </video>
      <ion-card-content>
        <p>A relaxer treatment is a chemical processing treatment used to straighten and “relax” the natural curls in your hair. Relaxers reduce the texture of the curls from the inside of your hair strand, leaving the hair permanently straighten.<br><br>
      
      Price : RM 180<br>
      Duration : 1 hour - 2 hour </p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Choose Your Desire Haircut</ion-card-subtitle>
        <ion-card-title>Rebonding treatment</ion-card-title>
      </ion-card-header>
      <video
      width="100%"
      controls="controls"
      preload="metadata"
      webkit-playsinline="webkit-playsinline"
      class="videoPlayer">
        <source src="assets/rebonding.mp4" type="video/mp4">
      </video>
      <ion-card-content>
        <p>Hair rebonding is a chemical process that changes your hair's natural texture and creates a smooth, straight style. It's also called chemical straightening. Hair rebonding is typically performed by a licensed cosmetologist at your local hair salon.<br><br>
      
      Price : RM 150<br>
      Duration : 30 minutes - 1 hour </p>
      </ion-card-content>
    </ion-card>
</ion-content>
