<ion-header>
  <ion-toolbar color="medium" class="ion-text-center">
    <ion-back-button slot="start" [routerLink]="['/home']"> Back </ion-back-button>
    <ion-title> About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="ion-text-center">
    <img src="assets/logo.png" width="100%" height="100%">
  </p>
  <h4 class="ion-text-center">Objective</h4>
	<li>To made as user friendly as possible so that any one can use it with little knowledge of system computers.</li><br>
  <li>To make easy the booking project system of Finn Barbershop simple, reliable, user friendly, and corrective.</li><br>
  <li>To make it easy for customers to make reservations.</li><br>
  <li>To provide fast and accurate services to clients.</li><br>

</ion-content>

<ion-footer class="ion-text-center">
  <ion-toolbar>
    <p>@2022 All Rights Reserved</p>
  </ion-toolbar>
</ion-footer>
