<ion-header>
  <ion-toolbar color="medium">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title class="ion-text-center">Barber Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card color="tertiary">
    <ion-card-header>
      <ion-card-subtitle>26-Years-Old</ion-card-subtitle>
      <ion-card-title>MUHAMMAD SUFIAN BIN MUHD SUHAIMI</ion-card-title>
    </ion-card-header>
  <img src="assets\barber\3.jpg">
    <ion-card-content>
      Sufian is the owner barbershop, he specializes in all hairstyles. He is deeply committed to his profession; it is his passion. He isn't afraid of a challenge and welcomes people from all walks of life into his shop.
    </ion-card-content>
  </ion-card>


  <ion-card color="tertiary">
    <ion-card-header>
      <ion-card-subtitle>25-Years-Old</ion-card-subtitle>
      <ion-card-title>SYAFIQ BIN ABDUL RAHIM</ion-card-title>
    </ion-card-header>
  <img src="assets\barber\2.jpg">
    <ion-card-content>
      Since the beginning, Syafiq has been a part of Finn Barbershop. He and his owner Sufian opening the barbershop together. He is a highly skilled barber and an essential member of the Finn Barbershop barber family.    </ion-card-content>
  </ion-card>

  <ion-card color="tertiary">
    <ion-card-header>
      <ion-card-subtitle>23-Years-Old</ion-card-subtitle>
      <ion-card-title>MUHAMMAD FATTAH BIN AHMAD AMIN</ion-card-title>
    </ion-card-header>
  <img src="assets\barber\1.png">
    <ion-card-content>
      Fattah was new in the Finn Barbershop. Every customer like him because he can make a joke with customer and enjoy their company while delivering excellent services. With gratitude and a smile, he welcomes everyone into his chair.    </ion-card-content>
  </ion-card>


</ion-content>
