<ion-header>
  <ion-toolbar color="medium">
    <ion-back-button slot="start" color="secondary">back</ion-back-button>
    <ion-title class="ion-text-center">Hairstyle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group>
    <ion-accordion value="mullet">
      <ion-item slot="header">
        <ion-label>Mullet style</ion-label>
      </ion-item>

      <ion-list slot="content">
        <ion-item>
          <ion-label>
            <img  src="assets\mullet.jpg">
            <br><p class="ion-text-center">What is a mullet hair? <br>
            The mullet is a hairstyle in which the hair <br>is cut short at the front and sides, <br>but is longer at the back.<br>
          
         </p></ion-label>
        </ion-item>

      </ion-list>
    </ion-accordion>

    <ion-accordion value="wolf">
      <ion-item slot="header">
        <ion-label>Wolf-Cut style</ion-label>
      </ion-item>

      <ion-list slot="content">
        <ion-item>
          <ion-label>
            <img  src="assets\wolf.jpg">
            <div class="ion-text-justify">
            <p class="ion-text-center">What is a wolf cut hair?<br>
              A wolf haircut is a mix of the shag haircut <br>
              and a mullet, but generally created on<br>
              longer hair. It has shorter choppy layers<br>
              on the top and longer choppy<br>
              layers around the sides and back</p>
        </div>
        </ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>

    <ion-accordion value="The Fade Haircuts">
      <ion-item slot="header">
        <ion-label>The Fade Haircuts</ion-label>
      </ion-item>

      <ion-list slot="content">
        <ion-item>
          <ion-label>
            <img  src="assets\fade.jpg">
            <div class="ion-text-justify">
            <p class="ion-text-center">What is a The Fade Haircuts?<br>
              The term “fade” first appeared in black-owned <br>
              barbershops and was used to describe an <br>
              aggressively tight taper in men's hair.<br>
              The hair on the sides and back is cut<br> (tapered)
              as close as possible, with a machine or clippers.<br>
              Then, it “fades” up to the top of the head.<br>
              </p>
        </div>
        </ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>

    <ion-accordion value="Taper Fade Haircut (Tapered)">
      <ion-item slot="header">
        <ion-label>Taper Fade Haircut (Tapered)</ion-label>
      </ion-item>

      <ion-list slot="content">
        <ion-item>
          <ion-label>
            <img  src="assets\taperd.jpg">
            <div class="ion-text-justify">
            <p class="ion-text-center">A tapered haircut is achieved by gradually<br>
               changing your hair length.It starts longer at<br>
              the top of the head and gets shorter as you<br>
               go down to the natural hairline on the nape <br>
               of the neck and sides of the head.<br><br>
              
              Ask your hairstylist for a long taper -<br>
              when your hair is longer, and you want to<br>
              keep it that way, or a short taper - in this  <br>
              case,the hair comes down closer to the skin.</p>
        </div>
        </ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>

    <ion-accordion value="Fade Buzz Haircut">
      <ion-item slot="header">
        <ion-label>Fade Buzz Haircut</ion-label>
      </ion-item>

      <ion-list slot="content">
        <ion-item>
          <ion-label>
            <img  src="assets\buzz.jpg">
            <div class="ion-text-justify">
            <p class="ion-text-center">The faded buzz haircut reflects the shaving<br>
              of the back and the sides to one uniform<br>
              length.However, the hair on top of the<br>
              head is trimmed to a slightly - <br>
              just slightly - longer length.In essence,<br>
              this formes the basis of a 'fade' as <br>
              the shaved sides are blended into the<br>
              top hair.A popular choice in 2022, this <br>
              style works great with a well-manicured <br>beard.</p>
        </div>
        </ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>

    <ion-accordion value="French Crop Haircut">
      <ion-item slot="header">
        <ion-label>French Crop Haircut</ion-label>
      </ion-item>

      <ion-list slot="content">
        <ion-item>
          <ion-label>
            <img  src="assets\french.jpg">
            <div class="ion-text-justify">
            <p class="ion-text-center">Similar to a Caesar cut but in<br>
               Italian style, the French crop <br>
               consists of hair that is cut short<br>
                on the back and sides and kept<br>
                 slightly longer through the top.<br><br>

              Depending on the length, you can keep<br>
               it either combed forward over the <br>
               forehead or pushed to the side.</p>
        </div>
        </ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>

    <ion-accordion value="Slick Back Hairstyle">
      <ion-item slot="header">
        <ion-label>Slick Back Hairstyle</ion-label>
      </ion-item>

      <ion-list slot="content">
        <ion-item>
          <ion-label>
            <img  src="assets\slick.jpg">
            <div class="ion-text-justify">
            <p class="ion-text-center">The classic Slick Back remains<br>
               one of the most fabulous hairstyles around.<br><br>

                The slick back hairstyle confers<br>
                a simple and sexy look at the same<br>
                time and can make the wearer appear<br>
                mature, sexy, and casual business-like.<br><br>
              
                Create your slick back style by brushing <br>
                all your hair back and using some pomade<br>
                on damp hair to preserve a bit of moisture<br>
                and secure the final shape.</p>
        </div>
        </ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>

    <ion-accordion value="Men's Side Parting Hairstyle">
      <ion-item slot="header">
        <ion-label>Men's Side Parting Hairstyle</ion-label>
      </ion-item>

      <ion-list slot="content">
        <ion-item>
          <ion-label>
            <img  src="assets\side.jpg">
            <div class="ion-text-justify">
            <p class="ion-text-center">Side part haircuts are also called regular cut,<br>
              professional cut, standard cut, or businessman cut.<br><br>

              To create a side part, hold the tip of a comb<br>
              down towards the scalp.<br><br>
              
              The comb should be positioned a couple of inches<br>
              to the left or right of the imaginary center line<br>
              running down your head.</p>
        </div>
        </ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>

    <ion-accordion value="Men's Shoulder Length Hairstyle">
      <ion-item slot="header">
        <ion-label>Men's Shoulder Length Hairstyle</ion-label>
      </ion-item>

      <ion-list slot="content">
        <ion-item>
          <ion-label>
            <img  src="assets\shoulder.jpg">
            <div class="ion-text-justify">
            <p class="ion-text-center">Shoulder-length hairstyles are for men who <br>
               can flaunt a healthy, well-kept head of hair.<br>
               If you're well-endowed in the hair  <br>
              department, a shoulder-length hairstyle  <br>is a serious head-turner.</p>
        </div>
        </ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>

    <ion-accordion value="Men's Quiff Cut Hairstyle">
      <ion-item slot="header">
        <ion-label>Men's Quiff Cut Hairstyle</ion-label>
      </ion-item>

      <ion-list slot="content">
        <ion-item>
          <ion-label>
            <img  src="assets\quiff.jpg">
            <div class="ion-text-justify">
            <p class="ion-text-center">
              Quiff is a British term describing a<br>
              prominent piece of hair brushed up and <br>
              back from the forehead. A forelock is <br>
              an excellent example of a quiff.<br><br>

              Start with a close buzz (about #1-1/2)<br>
              at the neckline and a mid-level fade way <br>
              up for a quiff cut.<br><br>
              
              The sides and top should be blended without<br>
              a disconnect, while the hair at the very <br>
              top of your head should be around <br>3 inches long.</p>
        </div>
        </ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>
</ion-accordion-group>
</ion-content>
